.etage_categorie {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    font-weight: 600;
    margin: 30px 0px 0px 28px;
}

.info_etage {
    margin: 210px 0px 50px 0px;
}

.info_etage p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_etage {
    display: flex;
    justify-content: center;
}

.button_etage p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D7CF5;
    border-radius: 60px;
    width: 218px;
    height: 45px;
    color: white;
}